h1 {
    text-align: center;
    border: 3px solid #AF3737;
    background-color: white;
    opacity: 0.8;
    width: 400px;
    margin: 0 auto;
    padding: 25px;
}

/*header--------------------*/

.entete{
    margin-bottom: 10px;
}

.entete a {
    position: absolute;
    right: 1em;
    top: 1em;
    color: black;
}

.contenerForm {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
    border-radius: 10px;
    padding: 1em 0em;
    background-color: rgba(255, 255, 255, 0.8);
    margin-top: 20vh; /* poussé de 20% de la dimension du viewport */
}

.form-control {
    background-color: rgba(255, 255, 255, 0.8);
}

#formulaire {
    margin: 0em 1em;
}

.titreform {
    display: flex;  
    justify-content: center;
    margin-bottom: 1em;
}

form {
    display: flex;
    flex-direction: column;
}

.btn.btn-primary {
    width: 40%;
    align-self: flex-end;
}

.caché {
    display: none;
}

body {
 background-image:url("../img/Jambon.jpg");
    background-size: 100%;
}

/*footer----------------*/
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    background-color: white;
    opacity: 0.8;
    position: absolute;
    bottom: 0px;
    width: 100%;

}

footer div{
    height: 100px;
    width: 45%;
}
.reseaux-sociaux{
    display: flex;
    justify-content: space-evenly;
}

.reseaux-sociaux a img{
    height: 40%;
    margin-top: 20%;
    transition: 1s;
}

.reseaux-sociaux img:hover{
    transform: rotate(1turn);
}