/* Style mis en place par Gabriel

body{
    background-color: aquamarine;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

 h1{
    width: 100%;
    text-align: center;
}

form{
    max-width: 70%;
    text-align: center;
}

#other{
    visibility: hidden;
}

#other:hover{
    visibility: visible;
} */

.Entete {
    display: flex;
    justify-content: space-around;
}
.contenerForm {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: auto;
    box-shadow: 4px 4px 2px rgb(211, 208, 208);
    border-radius: 10px;
    padding: 1em 0em;
    background-color: white;
    margin-bottom: 5px;
}

#formulaire {
    margin: 0em 1em;
}

.titreform {
    display: flex;  
    justify-content: center;
    margin-bottom: 1em;
}

form {
    display: flex;
    flex-direction: column;
}

.btn.btn-primary {
    width: 40%;
    align-self: flex-end;
}

.caché {
    display: none;
}

body {
 background-image:url("../img/Jambon.jpg");
    background-size: 100%;
}

/*footer----------------*/
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    background-color: white;
    opacity: 0.8;
}

footer div{
    height: 100px;
    width: 45%;
}
.reseaux-sociaux{
    display: flex;
    justify-content: space-evenly;
}

.reseaux-sociaux a img{
    height: 40%;
    margin-top: 20%;
    transition: 1s;
}

.reseaux-sociaux img:hover{
    transform: rotate(1turn);
}