.Entete {
    display: flex;
    justify-content: space-around;
}

.contenerForm {
    display: flex;
    flex-direction: column;
    width: 30%;
    margin: auto;
    box-shadow: 4px 4px 2px rgb(211, 208, 208);
    border-radius: 5%;
    padding: 1em 0em;
}

#formulaire {
    margin: 0em 1em;
}

.titreform {
    display: flex;  
    justify-content: center;
    margin-bottom: 1em;
}

form {
    display: flex;
    flex-direction: column;
}

.btn.btn-primary {
    width: 40%;
    align-self: flex-end;
}

.bouton3 {
    display: block;
    width: 150px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    margin:2px;
    background-color: white;
    opacity: 0.8;
    color: black;
}

body {
    background-image:url("../img/Entrecote.jpg");
}

/*footer----------------*/
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    background-color: white;
    opacity: 0.8;
}

footer div{
    height: 100px;
    width: 45%;
}
.reseaux-sociaux{
    display: flex;
    justify-content: space-evenly;
}

.reseaux-sociaux a img{
    height: 40%;
    margin-top: 20%;
    transition: 1s;
}

.reseaux-sociaux img:hover{
    transform: rotate(1turn);
}