main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

body{
    background-image:url("../img/Ramen.jpg");
}

hr{
align-content: center;
size: 3px;
width: 75%;
color: black;
opacity: 0.5;
}

h1 {
    text-align: center;
    border: 3px solid #AF3737;
    background-color: white;
    opacity: 0.8;
    width: 400px;
    margin: 0 auto;
    padding: 25px;
}

/*header--------------------*/

.entete{
    margin-bottom: 10px;
}

.Entete a {
    position: absolute;
    right: 1em;
    top: 1em;
    color: black;
}



/*encart resultats------------------------------*/
.card{
    width: 18rem;
    margin: 5px;
}

.row{
    justify-content: center;
    text-align: center;
    padding: 15px;
}

.advanced-result{
    max-width: 60%;
}

/*pourtour des encarts---------------*/

.advanced-result, .lateral-navbar{
    background-color: white;
    border: 3px solid #AF3737;
    border-radius: 5px;
}

/*lateral navbar------------------*/

.lateral-navbar{
    width: 220px;
    text-align: center;
}

/*pagination encart results-------------*/
.pagination{
    justify-content: center;
}

h5{
    font-family: 'Bungee', cursive;
}

/*footer----------------*/
footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    text-align: center;
    background-color: white;
    opacity: 0.8;
    position: absolute;
    bottom: 0px;
    width: 100%;

}

footer div{
    height: 100px;
    width: 45%;
}
.reseaux-sociaux{
    display: flex;
    justify-content: space-evenly;
}

.reseaux-sociaux a img{
    height: 40%;
    margin-top: 20%;
    transition: 1s;
}

.reseaux-sociaux img:hover{
    transform: rotate(1turn);
}